<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="row">
            <h1 class="text-center">New Charging Station</h1>
            <div class="col-md-6 offset-3">
    
                    <form class="needs-validation" action="/stations" method="POST" novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="station[title]" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="station[location]" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="phone">Phone Number</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">+91</span>
                            <input class="form-control" type="text" id="phone" name="station[phone]" required>
                        </div>
                    </div>
    
                    <div class="mb-3">
                        <label class="form-label" for="details">Details</label>
                        <textarea class="form-control" type="text" id="details" name="station[details]"
                            required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload images</label>
                        <input class="form-control" type="file" id="image" multiple name="image">
                    </div>
    
                    <button class="btn btn-success mb-3">Add Charging Station</button>
                </form>
            
            </div>
            <!-- <div class="col-md-6">
    <img src="https://images.unsplash.com/photo-1650427360945-f6c7a15925b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class="img-fluid">
            </div> -->
    
        </div>
    </div>