<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 mb-3">
                <div class="card shadow">
                    <img src="login.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form class="needs-validation" action="/login" method="POST" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" value="yash" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" value="yash" required>
                            </div>
                            <!-- btn-block is deprecated -->
                            <button class="btn btn-success col-12 mt-3">Login</button> 
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
  